<div class="AdminPanel">
    <p>Панель админа</p>
</div>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Загрузить файл</button>
</form>