<div class="authorize">
    <div class="Zagol">
        <p>Авторизуйтесь как администратор</p>
    </div>
    <form method="post" asp-controller="Admin" asp-action="AdminPanelCheck">
        <div class="AdminName">
            <label>Имя</label>
            <input type="text" name="Name"/>
        </div>

        <div class="AdminPassword">
            <label>Пароль</label>
            <input type="password" name="Password"/>
        </div>

        <div class="AdminConfirm">
            <input type="submit" value="Проверить"/>
        </div>
    </form>
</div>