* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background: rgba(0, 0, 0, 0.3);
  height: 100px;
}

.prelogo {
  height: 100px;
  font-size: 50px;
}

.name {
  height: 100px;
  font-size: 50px;
  text-align: center;
}

nav {
  background: rgba(0, 0, 0, 0.3);
  height: 100px;
}

header {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

img {
  height: 300px;
  width: 500px;
  padding: 20px;
  margin-bottom: 0px;
  background-size: contain;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  place-content: space-between;
  align-self: center;
}

main {
  background-size: contain;
  padding: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 30px 200px 0px 300px;
  font-size: 50px;
}

footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  height: 50px;
  align-items: center;
}

body {
  background-attachment: fixed;
  background-image: url("https://i.pinimg.com/originals/39/23/74/39237456c4a4092532bd5cb2a7b0e8c3.jpg");
}

.per {
  width: 1020px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.ExpName {
  width: 1020px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.imageExp {
    height: 580px;
    width: 980px;
    padding: 20px;
}

.opis {
  font-size: 40px;
  width: 980px;
  padding: 20px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.kopis {
  font-size: 30px;
  width: 500px;
  padding: 20px;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}