<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <span class="logo">Школа №23</span>
        <span class="prelogo">Музей</span>
        <nav>
            <a href="/">Главная</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>