<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <span class="logo">Школа №23</span>
        <nav>
            <a href="/">Главная</a>
        </nav>
    </header>
    <main>
        @RenderBody()
        <style>
            body {
                background-image: url("https://i.pinimg.com/originals/39/23/74/39237456c4a4092532bd5cb2a7b0e8c3.jpg");
            }
        </style>
    </main>
    <footer>Музей</footer>
</body>
</html>