@model List<ExponInfoList>

@foreach (var item in Model)
{
    <span class="ExpName">@item.Name</span>
        <img class="imageExp" src=@item.Image alt="Экспонат">
        <p class="opis">@item.Info</p>
}