@{
    ViewData["Title"] = "Home Page";
}

<span class="name">Центр образования им.И.А.Милютина</span>
<p class="ExpName">Название экспоната</p>
<img src="https://idei.club/uploads/posts/2022-03/1647273181_51-idei-club-p-interer-sovremennogo-muzeya-interer-krasiv-66.jpg" alt="Экспонат">
<p class="kopis">
    описание описание описание описание описание описание описание описание описание описание описание описание
    описание описание описание описание описание
</p>
<a class="per" href="/Home/Expon">Узнать подробнее</a>