@model List<ExponList>

<span class="name">Центр образования им.И.А.Милютина</span>
<span class="name">страница 1</span>

@foreach (var item in Model)
{
    <div class="AllExp">
        <p class="ExpName">@item.ExpName</p>
        <img src="@item.ImageUrl" alt="Экспонат">
        <p class="kopis">@item.Description</p>
        <a class="per" href="/Home/Expon?id=@item.ID">Узнать подробнее</a>
    </div>
}

<div class="ogran">
    <p>Страница 1</p>
    <a class="next-button" href="/Home/Index2">→</a>
</div>